<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Themezhub" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>LearnConnect Courses</title>
		 
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		
    </head>
	
    <body>
	
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ======================= Top Breadcrubms ======================== -->
			<div class="bg-title py-5" data-overlay="0">
				<div class="ht-30"></div>
				<div class="container">
					<div class="row">
						<div class="colxl-12 col-lg-12 col-md-12">
							<h1 class="ft-medium">Browse Categories</h1>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="text-light">Home</a></li>
									<li class="breadcrumb-item"><a href="#" class="text-light">Courses</a></li>
									<li class="breadcrumb-item active theme-cl" aria-current="page">Browse Categories</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<div class="ht-30"></div>
			</div>
			<!-- ======================= Top Breadcrubms ======================== -->
			
			<!-- ======================= Browse Category Detail ======================== -->
			<section class="middle bg-light">
				<div class="container">
				
					<!-- Single Category -->
					<div class="row align-items-start mb-5">
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="d-block full-width mt-2">
								<h3 class="ft-medium mb-0">Web Development</h3>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
							<div class="row">
							
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/1.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Angular</h4>
										<p class="mb-3 p-0 lh-1">10 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/2.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">ASP .NET</h4>
										<p class="mb-3 p-0 lh-1">12 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/3.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Django</h4>
										<p class="mb-3 p-0 lh-1">4 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/4.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Express</h4>
										<p class="mb-3 p-0 lh-1">7 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/5.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Laravel</h4>
										<p class="mb-3 p-0 lh-1">13 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- /row -->
					
					<!-- Single Category -->
					
					<!-- /row -->
					
					<!-- Single Category -->
					<div class="row align-items-start mb-5">
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="d-block full-width mt-2">
								<h3 class="ft-medium mb-0">Mobile App Development</h3>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
							<div class="row">
							
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/11.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Android</h4>
										<p class="mb-3 p-0 lh-1">5 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/13.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">IOS</h4>
										<p class="mb-3 p-0 lh-1">8 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/14.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Kotlin</h4>
										<p class="mb-3 p-0 lh-1">6 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								
								
							</div>
						</div>
					</div>
					<div class="row align-items-start mb-5">
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="d-block full-width mt-2">
								<h3 class="ft-medium mb-0">Programming Language</h3>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
							<div class="row">
							
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/11.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">C++</h4>
										<p class="mb-3 p-0 lh-1">7 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/13.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">C#</h4>
										<p class="mb-3 p-0 lh-1">2 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/14.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">C</h4>
										<p class="mb-3 p-0 lh-1">9 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/8.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Java</h4>
										<p class="mb-3 p-0 lh-1">4 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/12.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">JavaScript</h4>
										<p class="mb-3 p-0 lh-1">2 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/18.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Python</h4>
										<p class="mb-3 p-0 lh-1">4 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/15.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">R</h4>
										<p class="mb-3 p-0 lh-1">2 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								
								
							</div>
						</div>
					</div>
					<div class="row align-items-start mb-5">
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="d-block full-width mt-2">
								<h3 class="ft-medium mb-0">Data Science and Database</h3>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
							<div class="row">
							
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/11.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">AI</h4>
										<p class="mb-3 p-0 lh-1">20 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/13.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Machine Learning</h4>
										<p class="mb-3 p-0 lh-1">17 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/18.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Tensorflow</h4>
										<p class="mb-3 p-0 lh-1">6 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/8.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">AWS</h4>
										<p class="mb-3 p-0 lh-1">4 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/12.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">Postgres</h4>
										<p class="mb-3 p-0 lh-1">2 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/18.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">MongoDB</h4>
										<p class="mb-3 p-0 lh-1">4 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="d-block full-width px-4 py-4 bg-white rounded mb-3">
										<div class="d-block full-width mb-1"><img src="assets/img/icons/15.png" class="img-fluid" width="45" alt="" /></div>
										<h4 class="ft-medium mb-0 fs-md">MySQL</h4>
										<p class="mb-3 p-0 lh-1">2 Courses</p>
										<a href="/tutors" class="theme-cl ft-medium">Explore Tutors<i class="lni lni-arrow-right-circle ml-1"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /row -->
					
					<!-- Single Category -->
					<!-- /row -->
					
				</div>
			</section>
			<!-- ======================= Browse Category End ======================== -->
			
			<!-- ======================= Newsletter Start ============================ -->

			<!-- ======================= Newsletter Start ============================ -->
			
  <%- include('footer') %>
		
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog modal-xl login-pop-form" role="document">
					<div class="modal-content" id="loginmodal">
						<div class="modal-headers">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span class="ti-close"></span>
							</button>
						  </div>
					
						<div class="modal-body p-5">
							<div class="text-center mb-4">
								<h2 class="m-0 ft-regular">Login</h2>
							</div>
							
							<form>				
								<div class="form-group">
									<label>User Name</label>
									<input type="text" class="form-control" placeholder="Username*">
								</div>
								
								<div class="form-group">
									<label>Password</label>
									<input type="password" class="form-control" placeholder="Password*">
								</div>
								
								<div class="form-group">
									<div class="d-flex align-items-center justify-content-between">
										<div class="flex-1">
											<input id="dd" class="checkbox-custom" name="dd" type="checkbox">
											<label for="dd" class="checkbox-custom-label">Remember Me</label>
										</div>	
										<div class="eltio_k2">
											<a href="#" class="theme-cl">Lost Your Password?</a>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<button type="submit" class="btn btn-md full-width theme-bg text-light fs-md ft-medium">Login</button>
								</div>
								
								<div class="form-group text-center mb-0">
									<p class="extra">Not a member?<a href="#et-register-wrap" class="text-dark"> Register</a></p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/slider-bg.js"></script>
		<script src="assets/js/smoothproducts.js"></script>
		<script src="assets/js/snackbar.min.js"></script>
		<script src="assets/js/jQuery.style.switcher.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>